form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

form  {
  width: 100%;
}

form .field-row {
  width: 100%;
  
  display: flex;
  gap: 2rem;  

  margin-top: 2rem;
}

form .field-name, 
form .field-last_name {
  display: flex;
  flex-direction: column;

  font-size: 2rem;
}

form .field-name [placeholder="Enter your first name"],
form .field-last_name [placeholder="Enter your last name"]{
  margin-top: 1.5rem;

  padding: 1rem 1.5rem;

  border-radius: 1rem;

  border: 1px solid #000;
}
