@media (max-width: 768px) {
  body {
    padding: 2rem;
  }

  main {
    width: 100%;
  }

  main > h1 {
    font-size: 2.5rem;
  }

  form .field-row {
    width: 100%;

    display: flex;
    gap: 2rem;
  }

  form .field-name,
  form .field-last_name {
    font-size: 1.6rem;
    font-weight: 600;

    color: var(--Grey-500-medium);
  }

  form .field > #query-type-legend {
    font-size: 1.6rem;
  }

  form .field-email > span {
    font-size: 1.6rem;
    font-weight: 600;
  }

  form .field > .radio-grid {
    font-size: 1.7rem;
  }

  form .checkbox-row > input ~ span {
    font-size: 1.6rem;

    color: var(--Grey-500-medium);
  }

  form > button {
    font-size: 1.7rem;
    font-weight: 600;
  }
}

@media (max-width: 400px) {
  main {
    width: 100%;
  }

  main > h1 {
    font-size: 2.2rem;
  }

  form .field-row {
    width: 100%;

    display: flex;
    gap: 2rem;
  }

  form .field-name,
  form .field-last_name {
    font-size: 1.4rem;
    font-weight: 600;

    color: var(--Grey-500-medium);
  }

  form .field > #query-type-legend {
    font-size: 1.4rem;
  }

  form .field-email > span {
    font-size: 1.4rem;
    font-weight: 600;
  }

  form .field > .radio-grid {
    font-size: 1.3rem;
  }

  form .checkbox-row > input ~ span {
    font-size: 1.2rem;

    color: var(--Grey-500-medium);
  }

  form > button {
    font-size: 1.6rem;
    font-weight: 600;
  }
}
